<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Void Main</string>
	<key>Builder Version</key>
	<string>8536.25</string>
	<key>CFBundleDisplayName</key>
	<string>ImagesOnGitHub</string>
	<key>CFBundleIdentifier</key>
	<string>me.voidmain.safari.imagesongithub</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>showImage</string>
				<key>Identifier</key>
				<string>imgCmd</string>
				<key>Image</key>
				<string>icon16.png</string>
				<key>Label</key>
				<string>ImagesOnGitHub</string>
				<key>Palette Label</key>
				<string>View Images on Github repo</string>
				<key>Popover</key>
				<string></string>
				<key>Tool Tip</key>
				<string>Click to view the image for this file</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>js/detect_ajax_page_load.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Show you the 'real' image when browsing image files on Github repositories.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>github.com</string>
				<string>api.github.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://github.com/void-main/ImagesOnGitHub</string>
</dict>
</plist>
